<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    <link rel="stylesheet" href="https://bootstraptema.ru/snippets/effect/2016/ihe/effects.css">
    <link rel="stylesheet" href="https://bootstraptema.ru/snippets/effect/2016/ihe/stylesheet.css">
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/font-awesome/4-4-0/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

    <div class="container mt-5">
        <form action="/courses/add" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Ведите название"/>
            <input type="text" name="description" placeholder="Введите описание"/>
<!--            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
            <button type="submit">Добавить</button>
        </form>
    </div>

<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>