<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div class="container my-5">
    <div class="alert alert-danger" role="alert" th:text="${errorMessage}">
        You have already taken this test.
    </div>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>
</body>
</html>